body {
    font-family: 'Alef', sans-serif;
}

h2 {
    margin-top: 35px;
    color: white;
}

.contain-to-grid .top-bar, .top-bar {
    margin-bottom: 0;
}

.title-area h1 {
    font-family: 'Montserrat', sans-serif;
}

#intro {
    padding: 30px 0 0;
    background: url('../img/top-bg.jpg') no-repeat center center fixed;
    color: #eee;
    font-size: 130%;
    background-size: cover;
}

#intro h1 {
    margin-bottom: 0;
    text-shadow: 4px 4px black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.4em;
}
#intro h1, h3 {
    color: white
}

.things {
    position:relative;
    display:inline-block;
    width:100px;
    height:1em;
}
.things span{
    position:absolute;
    top:0;
    right:0;
    transition: opacity 0.8s ease-out;
    -webkit-transition: opacity 1s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;     
}
.things span.active{
    opacity: 1;
    height: auto;
}

.toolbar {
    background: black;
}

#teaser {
    background: #FF4400;
    color: white !important;
    font-size: 1.4em;
    padding: 10px 0;
}

#howitworks {
    background: blue;
    color: white !important;
    padding: 10px 0;
}

#suggest {
    background: green;
    color: white !important;
    padding: 10px 0;
}

#luztech {
    background: brown;
    color: white !important;
    padding: 10px 0;
}

#luztech .box {
    background: white;
    color: black;
    padding: 0 15px;
}

#luztech .box h2 {
    color: black;
    margin-bottom: 0;
}


#luztech .box ul {
    padding: 0 20px;
}

#luztech .box li {
    margin:0;
    padding:0 0 3px;
}


#luztech .tech li {
    text-align: center;
}

#mentors {
    background: yellow;
    color: white !important;
    padding: 10px 0;
}

.circular {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    margin: 0 auto;
}

.circular.einstein {
    background: url(http://www.barewalls.com/i/c/490129_Albert-Einstein-Funny-Face.jpg) no-repeat center center;
    background-size: cover;
}

#sponsors {
    background: white;
    padding: 10px 0;
    color: black;
}
#sponsors img {
    height: 100px;
}
#sponsors .sponsor {
    text-align: center;
}

#faq {
    color: black;
    padding: 10px 0;
}

#faq h2, #sponsors h2 {
    color: black;
}

#faq dl {
}
