Django==1.5.4
South==0.8.2
django-extensions==1.2.1
django-floppyforms==1.1
django-debug-toolbar==0.9.4
django-extra-views==0.6.3

# allauth with trnslation to hebrew, requires git installed :-)
# django-allauth==0.13.0
-e git+https://github.com/nonZero/django-allauth.git#egg=django_allauth-dev

bleach==1.2.2
Markdown==2.3.1

ipython==1.1.0
