{% extends 'users/base.html' %}
{% load i18n hackita humanize %}


{% block content %}

    <div class="row">
        <div class="columns large-8">
            <h1>{% trans "Projects" %}</h1>

            {% for o in object_list %}
                <div class="panel">
                    {% if not o.is_published %}
                        <span class="left label alert">{% trans "Draft" %}</span>
                    {% endif %}
                    <h5>{{ o|u }}</h5>


                    {% if o.summary %}
                        {{ o.summary|linebreaks|urlize }}
                    {% endif %}

                </div>
            {% endfor %}

        </div>
        <div class="columns large-4">
            <h3>{% trans "Latest Updates" %}</h3>
            <ul>
                {% for post in posts %}
                    <li>
                        <i><a href="{{ post.get_absolute_url }}">
                            {{ post.project }} ({{ post.created_at|naturaltime }})
                        </a></i>
                        {% if post.summary %}
                            {{ post.summary|urlize|linebreaks }}
                            <a href="{{ post.get_absolute_url }}">
                            {% trans "Read more..." %}
                        </a>
                        {% else %}
                            {{ post.content|urlize|linebreaks }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>


{% endblock %}
