{% extends 'users/base.html' %}
{% load i18n humanize %}

{% block content %}

    <div class="row">
        <div class="columns large-12">

            {% if can_edit %}
                <div class="left">
                    <a href="{{ object.get_edit_url }}"
                       class="button small">{% trans "Edit" %}</a>
                </div>
                <div class="left">
                    <a href="{%  url 'project:delete_post' object.project.slug object.id %}"
                       class="button small">{% trans "Delete" %}</a>
                </div>
            {% endif %}

            <h1>{% trans "Update" %}</h1>
            <p><b><i>{{ object.created_at|naturaltime }} &bull; {{ object.user }}</i></b></p>
            {{ object.content|urlize|linebreaks }}
        </div>
    </div>

    <div class="row">
        <div class="columns large-8">


            {% if object.github_url %}
                <p>
                    {% trans "Code" %}:
                    <a href="{{ object.github_url }}">{{ object.github_url }}</a>
                </p>
            {% endif %}

            {% if object.description %}
                <div>
                    {{ object.description|urlize|linebreaks }}
                </div>
            {% endif %}

        </div>
        <div class="columns large-4">
            {% if object.members.count %}
                <h4>{% blocktrans %}Project Members{% endblocktrans %}</h4>
                <ul>
                    {% for member in object.members.all %}
                        <li>
                            {{ member }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if object.posts.count %}
                <h4>{% blocktrans %}Latest Updates{% endblocktrans %}</h4>
                <ul>
                    {% for post in object.posts.all|slice:':5' %}
                        <li>
                            <i><a href="{{ post.get_absolute_url }}">
                                {{ post.created_at|naturaltime }}
                            </a></i>
                            {% if post.summary %}
                                {{ post.summary|urlize|linebreaks }}
                            {% else %}
                                {{ post.content|urlize|linebreaks }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}
