{% extends 'users/base.html' %}
{% load i18n %}

{% block content %}

    <div class="row">
        <div class="columns large-12">
            <ul class="breadcrumbs">
                <li>
                    <a href="{% url 'project:list' %}">{% trans "Projects" %}</a>
                </li>
            </ul>


            {% if can_edit %}
                <a href="{{ object.get_edit_url }}"
                   class="button small left">{% trans "Edit" %}</a>
            {% endif %}

            {% if perms.projects.change_project %}
                <a href="{% url "project:admin" object.slug %}"
                   class="button small left">{% trans "Admin" %}</a>
            {% endif %}

            <h1>{{ object }}</h1>

            {% if object.main_url %}
                <h3 style="direction:ltr">
                    <a href="{{ object.main_url }}">{{ object.main_url }}</a>
                </h3>
            {% endif %}

            {% if object.summary %}
                <h5>
                    {{ object.summary|urlize|linebreaks }}
                </h5>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="columns large-8">


            {% if object.github_url %}
                <p>
                    {% trans "Code" %}:
                    <a href="{{ object.github_url }}">{{ object.github_url }}</a>
                </p>
            {% endif %}

            {% if object.description %}
                <div>
                    {{ object.description|urlize|linebreaks }}
                </div>
            {% endif %}

        </div>
        <div class="columns large-4">
            {% if object.members.count %}
                <h4>{% blocktrans %}Project Members{% endblocktrans %}</h4>
                <ul>
                    {% for member in object.members.all %}
                        <li>
                            {{ member }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}
