{% load i18n %}

<div dir="rtl" style="padding:3px;">

    <p>
        {% trans "You are invited to" %} {{object.event.title}}
    </p>

    <ul>
        <li>
            {% trans "at" %} {{object.event.location}}
        </li>
        <li>
            {% trans "From" %} {{object.event.starts_at|date:"d/n/Y H:i"}}
        </li>
        <li>
            {% trans "To" %} {{object.event.ends_at|date:"d/n/Y H:i"}}
        </li>
    </ul>

    <div style="margin:6px; padding:6px; border: 1px solid #ccc;">
        {{object.event.description|urlize|linebreaksbr}}
    </div>

    <p>
        {% trans "Click here to confirm your invitation" %}:
        <br/>
        <a href="{{base_url}}{{object.get_absolute_url}}">
            {{base_url}}{{object.get_absolute_url}}
        </a>
    </p>

    {% if object.event.registration_ends_at %}
    <p><i>
        ({% trans "Registartion ends at" %}:
        {{object.event.registration_ends_at|date:"d/n/Y H:i"}})
    </i></p>
    {% endif %}
</div>