<div id="techs">
    <div class="row">
        <div class="large-12 columns">
                <h2> טכנולוגיות </h2>
            <div class="box">
                <ul class="tech small-block-grid-5">
                    <li>
                        <a href="http://git-scm.com/" title="Git">
                            <img src="{{STATIC_URL}}img/icons/git.png" alt="Git">
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/" title="GitHub">
                            <img src="{{STATIC_URL}}img/icons/github.png" alt="GitHub">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.python.org/" title="Python">
                            <img src="{{STATIC_URL}}img/icons/python.png" alt="Python">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.djangoproject.com/" title="Django">
                            <img src="{{STATIC_URL}}img/icons/django.png" alt="Django">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.linuxfoundation.org/" title="Linux">
                            <img src="{{STATIC_URL}}img/icons/linux.png" alt="Linux">
                        </a>
                    </li>
                    <li>
                        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" title="Javascript">
                            <img src="{{STATIC_URL}}img/icons/js.png" alt="Javascript">
                        </a>
                    </li>
                    <li>
                        <a href="http://jquery.com/" title="jQuery">
                            <img src="{{STATIC_URL}}img/icons/jquery.png" alt="jQuery">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.w3.org/html/logo/#the-technology" title="HTML5">
                            <img src="{{STATIC_URL}}img/icons/html5.png" alt="HTML5">
                        </a>
                    </li>
                    <li>
                        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" title="CSS3">
                            <img src="{{STATIC_URL}}img/icons/css3.png" alt="CSS3">
                        </a>
                    </li>
                    <li>
                        <a href="http://lesscss.org/" title="LESS">
                            <img src="{{STATIC_URL}}img/icons/LESS.png" alt="LESS">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
