<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en" dir="rtl"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="rtl">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Hack For Israel</title>

        <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/h4il.css">

        <script src="{{STATIC_URL}}js/vendor/custom.modernizr.js"></script>


        <link href='http://fonts.googleapis.com/css?family=Francois+One|Montserrat:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <link href='{{STATIC_URL}}css/fonts/alef.css' rel='stylesheet' type='text/css'>

    </head>
    <body>


        {% block content %}
        {% endblock %}

        <script>
            document.write('<script src=' + ('__proto__' in {} ? '{{STATIC_URL}}js/vendor/zepto' : '{{STATIC_URL}}js/vendor/jquery') + '.js><\/script>')
        </script>

        <script src="{{STATIC_URL}}js/foundation.min.js"></script>

        <script>
            $(document).foundation();
            var Scroller = {
                scrollTo : function (el, to, duration, callback) {
                    if (duration < 0) return;
                    var difference = to - $(window).scrollTop();
                    var perTick = difference / duration * 10;

                    this.scrollToTimerCache = setTimeout(function() {
                        if (!isNaN(parseInt(perTick, 10))) {
                            window.scrollTo(0, $(window).scrollTop() + perTick);
                            this.scrollTo(el, to, duration - 10, callback);
                        } else {
                            callback();
                        }
                    }.bind(this), 10);
                }
            }

            $('a').on('click', function(e) {
                e.preventDefault();

                //Foundation.lib_methods.scrollTo($(window), $($(e.currentTarget).attr('href')).offset().top, 200);
                var newhash = $(e.currentTarget).attr('href');
                Scroller.scrollTo($(window), $(newhash).offset().top, 200, function() {
                    location.hash = newhash;
                });
            });
        </script>
    </body>
</html>
