<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en" dir="rtl"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="rtl">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>
            הכיתה / Hackita
        </title>

        <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/h4il.css">

        {% block extra_css %}
        {% endblock %}

        <script src="{{STATIC_URL}}js/vendor/custom.modernizr.js"></script>


        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <link href='{{STATIC_URL}}css/fonts/alef.css' rel='stylesheet' type='text/css'>

    </head>
    <body>


        <div>
            <div class="contain-to-grid sticky">
                <nav class="top-bar">
                    <ul class="title-area">
                        <!-- Title Area -->
                        <li class="name">
                            <h1><a href="{% url 'home' %}">
                                הכיתה / Hackita
                            </a></h1>
                        </li>
                        <li class="toggle-topbar menu-icon">
                            <a href="#"><span></span></a>
                        </li>
                    </ul>

                    <section class="top-bar-section">
                        <ul class="right">
                            <li class="divider"></li>
                            <li class="active">
                                <a href="{% url 'program' %}">איך זה עובד?</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'faq' %}">שאלות ותשובות</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'ideas' %}">רעיונות למיזמים</a>
                            </li>
                            <li>
                                <a class="button" href="{% url 'register' %}">
                                    להרשמה
                                </a>
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>

            {% block content_container %}
            {% endblock %}

            <div id="sponsors">
                <div class="row">
                    <div class="large-9 columns">
                        <a href="http://www.hasadna.org.il/" class="hasadna">
                            <img src="{{STATIC_URL}}img/hasadna-logo.png"  height="20">
                            הסדנא לידע ציבורי
                        </a>
                    </div>
                    <div class="large-1 columns ctlvtxt">
                        <b>
                        בחסות
                        </b>
                    </div>
                    <div class="large-2 columns text-center">
                        <a href="http://www.campustelaviv.com/">
                            <img class="ctlv" src="{{STATIC_URL}}img/google-campus.png"  height="20">
                        </a>
                    </div>
                    {% comment %}
                        <div class="large-8 columns">
                          <a href="http://www.10x.org.il/">
                            <img src="{{STATIC_URL}}img/10x.png" height="20">
                        </a>
                  {% endcomment %}
                </div>
                {% comment %}
                    <div class="large-4 columns sponsor">
                        <span class="button"> מעוניין להעניק חסות? </span>
                    </div>
                {% endcomment %}
            </div>

        </div>

        <script>
            document.write('<script src=' + ('__proto__' in {} ? '{{STATIC_URL}}js/vendor/zepto' : '{{STATIC_URL}}js/vendor/jquery') + '.js><\/script>')
        </script>

        <script src="{{STATIC_URL}}js/foundation.min.js"></script>

        <script>
            $(document).foundation();
        </script>
        {% block scripts %}
        {% endblock %}

    </body>
</html>
