{% extends 'website/base.html' %}
{% block content %}

<div>
    <div id="intro">
        <div class="row">
            <div class="large-12 columns text-center">
                הסדנא לידע ציבורי גאה להציג:

                <h1>Hack For Israel</h1>

                <h3> שישה שבועות של עשיה <!-- יצירה, בניה, למידה, תרומה לחברה, פיתוח תוכנה, עבודה משותפת, יזמות  --></h3>

                <p>
                    מחזור ראשון - סתיו 2013
                </p>

            </div>
        </div>
    </div>


    <div id="teaser">
        <div class="row">
            <div class="large-12 columns text-center">

                <ul class="no-bullet">
                    <li>
                        תמיד רצית לכתוב תוכנה למען החברה?
                    </li>
                    <li>
                        תמיד רצית ללמוד לעבוד עם כלי קוד פתוח?
                    </li>
                    <li>
                        תמיד רצית לפתח יישומי Web מתקדמים?
                    </li>
                    <li>
                        תמיד רצית לעבוד יחד עם עוד מפתחים וללמוד אחד מהשני?
                    </li>

                </ul>

                <p>
                    <b><i> זאת ההזדמנות שלך! </i></b>
                </p>

                <p>
                    הסדנא לידע ציבורי מזמינה אותך לתכנית יחודית למפתחי תוכנה.
                    <br/>
                    הצטרף אלינו לשישה שבועות של יצירה בסתיו הקרוב, ותוכל גם אתה להגשים חלום.
                </p>

            </div>
        </div>
        
        <div class="row">
            <div class="small-6 columns text-center">
                <a href="{% url 'program' %}" class="button"> לפרטים נוספים &raquo; </a>
            </div>
            <div class="small-6 columns text-center">
                <a href="#" class="button"> הרשמה לתכנית &raquo; </a>
            </div>
        </div>
    </div>


</div>
{% endblock %}
