{% extends 'website/base.html' %}
{% block content %}

<div>
    <div id="intro">
        <div class="row">
            <div class="large-6 columns">
                <div class="shady">

                    <h1>הכיתה / Hackita</h1>
    
                    <h3> שישה שבועות של
                        <span class="things">
                            <span class="active">
                                עשיה
                            </span>
                            <span>
                                פיתוח תוכנה
                            </span>
                            <span>
                                יצירה
                            </span>
                            <span>
                                בניה
                            </span>
                            <span>
                                למידה
                            </span>
                            <span>
                                תרומה
                            </span>
                            <span>
                                עבודת צוות
                            </span>
                            <span>
                                יזמות
                            </span>
                        </span>
                        <br/>
                        מחזור ראשון - סתיו 2013

                    </h3>
 
                    <ul class="no-bullet">
                        <li>
                            תמיד רצית לכתוב תוכנה למען החברה?
                        </li>
                        <li>
                            תמיד רצית ללמוד לעבוד עם כלי קוד פתוח?
                        </li>
                        <li>
                            תמיד רצית לפתח יישומי Web מתקדמים?
                        </li>
                        <li>
                            תמיד רצית לעבוד יחד עם עוד מפתחים וללמוד אחד מהשני?
                        </li>
                        <li>
                        <b>זאת ההזדמנות שלך!</b>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>


    <div id="teaser">

        <div class="row">
            <div class="large-7 columns">
                <p>
                    הסדנא לידע ציבורי מזמינה אותך לתכנית יחודית למפתחי תוכנה.
                    <br/>
                    הצטרף אלינו לשישה שבועות של יצירה בסתיו הקרוב, ותוכל גם אתה להגשים חלום.
                </p>
            </div>

            <div class="large-5 columns text-center">
                <a href="{% url 'program' %}" class="button"> לפרטים נוספים &raquo; </a>&nbsp;
                <a href="#" class="button"> להרשמה לתכנית &raquo; </a>
            </div>
        </div>
    </div>


</div>

{% endblock %}

{% block scripts %}
<script src="{{STATIC_URL}}js/home.js"></script>
{% endblock %}