{% extends 'website/base.html' %}
{% block content_container %}

<div>

    <div id="suggest">
        <div class="row">
            <div class="large-12 columns">
                <h2> יש לך רעיון למיזם? </h2>
            </div>
        </div>
        <div class="row">
            <div class="large-9 columns">

                <p>
                    מהם הכבישים המסוכנים בארץ, וכיצד אפשר לראות אותם על מפה? איזה רשויות מקומיות משקיעות הכי הרבה משאבים בחינוך? איזה ישוב בארץ הכי רחוק מתחנה של טיפת חלב?  באיזה אזורים בארץ מתגלים באופן קבוע חריגות בשימוש המותר בחומרי הדברה?
                </p>
                <p>
                    סביר להניח שדו"ח בנושאים אלו שוכב לו במקום כלשהו, אבל בטוח שישנה דרך טובה יותר להנגיש אותו לציבור: על מפה, בנייד, על המחשב שלך, לפי העניינים שמעניינים אותך.
                </p>
                <p>
                    אם גם אתה חושב כך, אנחנו מחפשים רעיונות לפרויקטים קטנים, כאלו שניתן לסיים או להדגים במספר שבועות של פיתוח.
                </p>
                <p>
                    תחומי העיסוק שלנו הם <b>מידע וידע פתוח, אקטיביזם אזרחי וכמובן קוד פתוח</b>.
                </p>
                <p>
                    אם הרעיון הוא טוב - אנחנו נשמח להשקיע זמן ומאמץ להגשים אותו!
                </p>
                <p>
                    אל תהסס - הרשם לאתר והצע את הרעיון שלך עוד היום!
                </p>
            </div>
            <div class="large-3 text-center columns">
                {% include "website/_add_idea_button.html" %}
                <p>
                    <a class="button secondary" href="{% url 'hashmabir_list' %}">
                        לרשימת הרעיונות
                        
                        </a>
                </p>
            </div>
        </div>
    </div>


</div>
{% endblock %}
