{% extends 'website/base.html' %}
{% block content %}

<div>

    <div id="howitworks">
        <div class="row">
            <div class="large-7 columns">
                <h2> איך זה עובד? </h2>
                <p>
                    <b> החל מה-11/11/2013 ולמשך שמונה שבועות נפגש יחד,
                    קבוצה של כעשרים מפתחי תוכנה ונעבוד יחד בימי שני וחמישי בקמפוס תל אביב של גוגל,
                    נלמד זה ומזה ונבנה מיזמים נבחרים בתחום המידע הפתוח. </b>
                </p>
                <p>
                    התכנית  מיועדת למפתחים המוכנים להתחייב להגיע ל-8 שעות לפחות מדי שבוע,
                    ותכלול ליווי והנחיה רצופה ממפתחים פעילים מהסדנא.
                    בהמשך נשתף פעולה גם עם מעצבים ואנשי תוכן מתנדבים בסדנא,
                    ונכיר ונתרום גם לפרויקטים הקיימים של הסדנא כמו כנסת פתוחה או רשויות מקומיות פתוחות.
                </p>
                <span class="button"> להרשמה </span>
            </div>
            <div class="large-5 columns">
                <div class="box">
                    <h2> מסלולים </h2>
                    <ul class="no-bullet">
                        <li>
                            <b>א. ימי שני בבוקר, 10:00-18:00</b>
                            <br/>
                            8 מפגשים:
                            11/11, 18/11, 25/11,
                            <br/>
                            9/12, 16/12, 23/12, 30/12, 6/1
                        </li>
                        <li>
                            <b>ב. ימי חמישי בבוקר, 10:00-18:00</b>
                            <br/>
                            8 מפגשים:
                            14/11, 21/11, 28/11,
                            <br/>
                            12/12, 19/12, 26/12, 2/1, 9/1
                        </li>
                        <li>
                            <b>
                                ג. ימי שני וחמישי  18:00-22:00
                            </b>
                                <br/>
                                16 מפגשים,
                                לפי התאריכים המופיעים למעלה
                        </li>
                    </ul>
                </div>
            </div>
            </section>
        </div>
    </div>

    <div id="luztech">
        <div class="row">
            <div class="large-7 columns">
                <div class="box">
                    <h2> לוח זמנים </h2>
                    <ul>
                        <li>
                            <b>הרשמה:</b>
                            החל מ-10/10/13
                        </li>
                        <li>
                            <b>הודעה על קבלה למסלול</b>: 4/11/11
                        </li>
                        <li>
                            <b>ימי מיון למועמדים:</b>
                             28/10, 31/10
                        </li>
                        <li>
                             <b>ערב גיבוש למשתתפים:</b>
                             7/11/2013
                        </li>
                        <li>
                            <b>שבועות 1-2:</b>
                             הכרות עם הסדנא והתנסות בטכנולוגיות בשימוש הסדנא
                        </li>
                        <li>
                            <b>שבועות 3-6:</b>
                             עבודה על מיזמים בזוגות, כולל:
                        </li>
                        <li>
                            <b>שבוע 5:</b> שבוע פתוח בהשתתפות מעצבים ואנשי תוכן
                        </li>
                        <li>
                            <b>שבוע 7:</b> שבוע כנסת פתוחה
                        </li>
                        <li>
                            <b>שבוע 8:</b> עבודה במסגרת מיזמי הסדנא על פי בחירה
                        </li>
                        <li>
                            <b>
                                הצגת תוצרי הכיתה:
                                </b>
                            13/1/2014 - אירוע פתוח לציבור
                        </li>
                    </ul>
                </div>
            </div>
            <div class="large-5 columns">
                <div class="box">
                    <h2> טכנולוגיות </h2>
                    <ul class="tech small-block-grid-2">
                        <li>
                            Git
                        </li>
                        <li>
                            GitHub
                        </li>
                        <li>
                            Python
                        </li>
                        <li>
                            Django
                        </li>
                        <li>
                            Linux
                        </li>
                        <li>
                            Javascript
                        </li>
                        <li>
                            jQuery
                        </li>
                        <li>
                            HTML5
                        </li>
                        <li>
                            CSS3
                        </li>
                        <li>
                            LESS
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div id="mentors">
        <div class="row">
            <div class="large-12 columns">
                <h2> צוות מלווה </h2>
            </div>
        </div>
        <div class="row">
            <div class="large-3 small-6 columns text-center">
                <div class="circular einstein"></div>
            </div>
            <div class="large-3 small-6 columns text-center">
                <div class="circular einstein"></div>
            </div>
            <div class="large-3 small-6 columns text-center">
                <div class="circular einstein"></div>
            </div>
            <div class="large-3 small-6 columns text-center">
                <div class="circular einstein"></div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
