{% extends 'website/base.html' %}
{% block content %}

<div>

    <div id="howitworks">
        <div class="row">
            <div class="large-12 columns">
                <h2> איך זה עובד? </h2>
            </div>
        </div>
        <div class="row">
            <div class="large-9 columns">
                <p>
                    <b> החל מה-14/10/2013 ולמשך שישה שבועות נפגש יחד, קבוצה של כעשרים מפתחי תוכנה ונעבוד יחד בימי שני וחמישי בקמפוס תל אביב של גוגל, נלמד זה ומזה ונבנה מיזמים נבחרים בתחום המידע הפתוח. </b>
                </p>
                <p>
                    התכנית  מיועדת למפתחים המוכנים להתחייב להגיע ל-8 שעות לפחות מדי שבוע (מ-10:00 עד 18:00 באחד מהימים או מ-18:00 עד 22:00 בשני הערבים), ותכלול ליווי והנחיה רצופה ממפתחים פעילים מהסדנא.  בהמשך נשתף פעולה גם עם מעצבים ואנשי תוכן מתנדבים בסדנא, ונכיר ונתרום גם לפרויקטים הקיימים של הסדנא כמו כנסת פתוחה או רשויות מקומיות פתוחות.
                </p>
            </div>
            <div class="large-3 text-center columns">
                <span class="button"> להרשמה </span>
            </div>
            </section>
        </div>
    </div>

    <div id="luztech">
        <div class="row">
            <div class="large-8 columns">
                <div class="box">
                    <h2> לוח זמנים </h2>
                    <ul>
                        <li>
                            ספטמבר: הרשמה
                        </li>
                        <li>
                            תחילת אוקטובר: ימי מיון למועמדים
                        </li>
                        <li>
                            10.10 ערב גיבוש למשתתפים
                        </li>
                        <li>
                            שבוע 1: הכרות עם הסדנא והתנסות בטכנולוגיות בשימוש הסדנא
                        </li>
                        <li>
                            שבוע 2: התחלת עבודה על מיזמים בזוגות
                        </li>
                        <li>
                            שבוע 3: המשך עבודה על מיזמים בזוגות
                        </li>
                        <li>
                            שבוע 4: שבוע פתוח בהשתתפות מעצבים ואנשי תוכן
                        </li>
                        <li>
                            שבוע 5: שבוע כנסת פתוחה
                        </li>
                        <li>
                            שבוע 6: עבודה במסגרת מיזמי הסדנא על פי בחירה
                        </li>
                        <li>
                            25.11 : אירוע פתוח לציבור: סיכום והצגת תוצרים
                        </li>
                    </ul>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="box">
                    <h2> טכנולוגיות </h2>
                    <ul class="tech small-block-grid-2">
                        <li>
                            Git
                        </li>
                        <li>
                            GitHub
                        </li>
                        <li>
                            Python
                        </li>
                        <li>
                            Django
                        </li>
                        <li>
                            Linux
                        </li>
                        <li>
                            Javascript
                        </li>
                        <li>
                            jQuery
                        </li>
                        <li>
                            HTML5
                        </li>
                        <li>
                            CSS3
                        </li>
                        <li>
                            LESS
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div id="mentors">
        <div class="row">
            <div class="large-12 columns">
                <h2> צוות מלווה </h2>
            </div>
        </div>
        <div class="row">
            <div class="large-3 small-6 columns text-center">
                <div class="circular einstein"></div>
            </div>
            <div class="large-3 small-6 columns text-center">
                <div class="circular einstein"></div>
            </div>
            <div class="large-3 small-6 columns text-center">
                <div class="circular einstein"></div>
            </div>
            <div class="large-3 small-6 columns text-center">
                <div class="circular einstein"></div>
            </div>
        </div>

    </div>


</div>
{% endblock %}
