{% load i18n %}

<div class="user-answers section-container vertical-tabs" data-section="vertical-tabs">
    {% for a in answers %}
        <section>
            <p class="title" data-section-title>
                <a href="#">{{forloop.counter}}. {{a.title}}</a>
            </p>
            <div class="content" data-section-content>
                <div>
                    {% for field in a.fields %}
                        {% if field.html %}
                            <div class="user-answer">
                                <div class="user-answer-title">
                                    {{field.label}}
                                </div>
                                <div class="user-answer-content">
                                    {{field.html|urlize|linebreaksbr}}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <p>
                    <i> <span class="radius secondary label">{{a.answer.created_at}}</span> </i>
                </p>
            </div>
        </section>
    {% endfor %}
</div>
