{% extends 'users/base.html' %}
{% load i18n %}
{% load humanize %}
{% load hackita %}

{% block content %}

    <form method="post">
    <div class="row">
        <div class="columns large-12">
            <h2>
                {{object.title}}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="columns large-8">

            {% for u in object.users_in_pipeline %}
                {% ifchanged u.status %}
                {% if not forloop.first %}
                    </ol>
                {% endif %}
                   <h4>
                       {{u.get_status_display}}
                   </h4>
                  <ol>
                {% endifchanged %}
              <li>
                  <input name="users" class="user-email" type="checkbox" 
                  value="{{u.user.id}}" 
                  data-email="{{u.user.email}}"
                  {% if u.status == u.statuses.ACCEPTED %}checked="1"{% endif %}/>
                      <a href="{{u.user.get_absolute_url}}">{{u.user}}</a>
                  <a href="{% url "user_edit" u.user.id %}?from={{request.get_full_path}}"><i class="fi-pencil" title="{% trans "Edit" %}"></i></a>
              </li>
              {% if forloop.last %}
                  </ol>
              {% endif %}
            {% endfor %}

        </div>
        <div class="columns large-4">
             <textarea id="emails" dir="ltr" style="text-align: left;">
             </textarea>
            {% csrf_token %}
            {%  select surveys 'survey' %}
            {%  select events 'event' %}
            <select name='status'>
                <option value="">---</option>
                {% for k, v in statuses %}
                  <option value="{{k}}">{{v}}</option>
                {% endfor %}
            </select>
            <button class="small" name='send'>{% trans "Send" %}</button>
        </div>
    </div>
    </form>
</div>



{% endblock %}

{% block scripts %}

<script>
    $(function(){

        function refreshEmails() {
            $('#emails').val($('.user-email:checked').map(function(){
                return $(this).data('email');
            }).get().join('\n'));
        }

        $('.user-email').change(refreshEmails);

        refreshEmails();
    });
</script>

{% endblock %}
