<div>
    {% for l in object_list %}
        {% ifchanged l.created_at.date %}
            {% if not forloop.first %}
                </ul>
            {% endif %}
            <h3>{{ l.created_at.date }}</h3>
            <ul class="no-bullet">
        {% endifchanged %}
        <li>
            <span title="#{{l.id}}">
                {{l.created_at|time:"H:i"}}
            </span>
                {% if show_user %}
                  <a href="{{l.user.get_absolute_url}}">
                      {{l.user}}
                  </a>
                {% endif %}
            {{l.get_operation_display}}
            <b>{{l.content_object}}</b>
            <small>
                (<a href="{{l.created_by.get_absolute_url}}">{{l.created_by}}</a>)
            </small>

        </li>
        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}
</div>
