{% extends 'website/base.html' %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/user.css">
    {% block page_css %}
    {% endblock %}
{% endblock %}

{% block content_container %}
    <div class="user-container">

        {% if user.id %}

            <div class="row">
                <div class="columns large-12">
                    <div class="panel userpanel">
                        <div class="left">
                            <form method="post" action="{% url 'account_logout' %}">
                              {% csrf_token %}
                              <button type="submit" class="small">{% trans 'Sign Out' %}</button>
                            </form>
                        </div>
                        {% trans "You are logged in as" %} {{user.email}}
                        {% if user.community_member or user.is_staff %}
                            &bull;
                            <a href="{% url "community" %}">{% trans "Community" %}</a>
                            &bull;
                            <a href="{% url "project:list" %}">{% trans "Projects" %}</a>
                        {% endif %}
                        {% if user.is_staff %}
                            &bull;
                            <a href="{% url "users" %}">{% trans "Users" %}</a>
                            &bull;
                            <a href="{% url "cohorts" %}">{% trans "Cohorts" %}</a>
                            &bull;
                            <a href="{% url "events" %}">{% trans "Events" %}</a>
                            &bull;
                            <a href="{% url "surveys" %}">{% trans "Surveys" %}</a>
                            &bull;
                            <a href="{% url "users_log" %}">{% trans "Log" %}</a>
                            &bull;
                            <a href="{% url "admin:index" %}">{% trans "Admin" %}</a>
                        {% endif %}
                    </div>

                    {% if breadcrumbs %}
                        <ul class="breadcrumbs">
                            {% for title, url in breadcrumbs %}
                                <li>
                                    <a href="{{ url }}">{{ title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}


                </div>

            </div>

        {% endif %}

        {% include 'users/_messages.html' %}

        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
