{% extends 'users/base.html' %}
{% load i18n %}
{% load humanize %}

{% block content %}

    <div class="row">
        <div class="columns large-12">

            <h2>{% trans "Users" %} ({{object_list.count}})</h2>

            <ul class="cohort-list inline-list">
                <li>
                    {% trans "Filter" %}:
                </li>
                <li{% if not cohort %} class="active"{% endif %}>
                    <a href="?">{% trans "All" %}</a>
                </li>
                {% for c in cohorts %}
                    <li{% if c == cohort %} class="active"{% endif %}>
                        <a href="?cohort={{c.ordinal}}">{{c.title}}</a>
                    </li>
                {% endfor %}
            </ul>

            <table class="users">
                {% for u in object_list %}

                      {% ifchanged u.forms_filled %}
                        {% if forloop.counter0 %}
                          </table>
                          <table class="users">
                         {% endif %}
                      {% endifchanged %}
                    <tr>
                        <td class="uname">
                            <a href="{% url "user_dashboard" u.id %}">
                                #{{u.id}}: {{u}}
                            </a>
                            <br/>
                            {% for t in u.grouped_tags %}
                                <span class="label secondary">
                                    {{t.name}}
                                    {% if t.count > 1 %}
                                      ({{t.count}})
                                    {% endif %}
                                </span>
                            {% endfor %}
                        </td>
                        <td class="uanswers">
                            {{u.forms_filled}}
                        </td>
                        <td>
                            {% if u.last_form_filled %}
                                <span title="{{u.last_form_filled}}">
                                    {{u.last_form_filled|naturaltime}}
                                </span>
                            {% else %}
                              ---
                            {% endif %}
                        </td>

                        {% for ordinal, uc in u.all_cohorts.items  %}
                          <td>{{ordinal}}: {{uc.get_status_display}}</td>
                        {% endfor %}

                        <td>
                            {{u.get_gender_display}}
                        </td>

                    </tr>

                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
