{% extends 'users/base.html' %}
{% load i18n %}

{% block content %}

    <div class="row">
        <div class="columns large-12">

            <h2>{% trans "Users" %}</h2>

                <table class="users">
                    {% for u in object_list %}

                          {% ifchanged u.answer_count %}
                            {% if forloop.counter0 %}
                              </table>
                              <table class="users">
                             {% endif %}
                          {% endifchanged %}
                        <tr>
                            <td class="uid">
                                #{{u.id}}
                            </td>
                            <td class="uemail">
                                <a href="{% url "user_dashboard" u.id %}">
                                    {{u.email}} 
                                </a>
                            </td>
                            <td class="uname">
                                {{u.first_name}} {{u.last_name}}
                            </td>
                            <td class="uanswers">
                                {{u.answer_count}}
                            </td>
                            <td>
                                {{u.last_answer|default:''}}
                            </td>
                        </tr>

                    {% endfor %}
                </table>
        </div>
    </div>

{% endblock %}
