{% extends 'users/base.html' %}
{% load i18n %}

{% block content %}

<div class="row">
    <div class="columns large-12">

        <h2> 
            <a href="{% url "users" %}">{% trans "Users" %}</a>
            &gt;
            <a href="{{object.get_absolute_url}}">{{object}}</a>
            &gt;
            {% trans "Add Note" %}
         </h2>

        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="button" value="{% trans "Add" %}"/>
        </form>
    </div>
</div>

{% endblock %}
