{% extends 'users/base.html' %}
{% load i18n %}

{% block content %}


<div class="row">

    {% if registered %}
        <div class="columns large-12">
            <h2>
                {% trans "Registration Details" %}
            </h2>
            {% include "student_applications/_answers.html" %}
        </div>

        {% else %}
            <div class="columns large-4">
                <a href="{% url "register" %}" class="button">
                    {% if filled_count %}
                      {% trans "Continue Registration" %}
                    {% else %}
                      {% trans "Start Registration" %}
                    {% endif %}
                </a>
            </div>
        {% endif %}
 </div>

{% endblock %}
