{% extends 'website/base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="columns large-16">

        <h1>
        {{object}}
        </h1>

        <div class="panel">
            <dl>
                <dt>{% trans 'Content domain' %}</dt>
                <dd>{{object.content_domain|urlize|linebreaks}}

                <dt>{% trans 'Vision' %}</dt>
                <dd>{{object.vision|urlize|linebreaks}}

                <dt>{% trans 'Target audience' %}</dt>
                <dd>{{object.target_audience|urlize|linebreaks}}

                <dt>{% trans 'Similar projects' %}</dt>
                <dd>{{object.similar_projects|urlize|linebreaks}}

                <dt>{% trans 'Contact info' %}</dt>
                <dd>{{object.contact_info|urlize|linebreaks}}

            </dl>
        </div>

    </div>
</div>
{% endblock %}
