{% extends 'website/base.html' %}
{% load i18n %}

{% block content_container %}

<div class="row">
    <div class="columns large-16">
        <h1>החשמבירים:</h1>

        {% include "website/_add_idea_button.html" %}
            {% for o in object_list %}
            {% ifchanged o.craeted_at.date %}
                {% if not forloop.first %}
                <ul>
                {% endif %}
              <div><b>{{o.created_at|date:"d/g/Y"}}</b><div>
              <ul>
            {% endifchanged %}
            <li>
                {{o.created_at|date:"G:i"}} <a href="{{ o.get_absolute_url}}">{{ o }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}
