{% load i18n %}
{% language 'en-us' %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} / Hackita LMS </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/lms.css" rel="stylesheet">
    <link href="{{STATIC_URL}}img/favicon.ico" rel="icon" type="image/png"/>
  </head>
 <body>

    <div class="container">

    <nav class="navbar navbar-inverse navbar-default" role="navigation">

      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">Hackita / הכיתה</a>
      </div>

        <ul class="nav navbar-nav navbar-right">
          {% if user.id %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{user}}
                    <b class="caret"></b>
                </a>
                <div class="dropdown-menu">
                      <form method="post" action="{% url 'account_logout' %}">
                      {% csrf_token %}
                      <button type="submit" class="btn" style="width:100%">Sign Out</button>
                    </form>
                </div>
              </li>
          {% else %}
              <li>
                <a href="{% url 'account_login' %}">
                    Log in 
                </a>
              </li>
          {% endif %}
        </ul>
    </nav>

        {% include 'lms/_messages.html' %}

        <div>
            {% block content %}
            {% endblock %}
        </div>

    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

    {% include "website/_analytics.html" %}

  </body>
</html>
{% endlanguage %}
