{% extends 'lms/base.html' %}
{% load i18n %}
{% load humanize %}
{% load hackita %}

{% block title %}{{object}}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
              <li><a href="{% url "trails" %}">{% trans "Trails" %}</a></li>
            </ol>
            <h2>
                {{object}}
            </h2>
            <div class="panel panel-default">

                {% if object.content_html %}
                  <div class="panel-body">
                    {{object.content_html|safe}}
                  </div>
                {% endif %}

                <ul class="list-group">
                    {% for i, ui in user_items %}
                      <li id="lms-item-{{i.id}}" class="list-group-item{%if ui.checked %} item-done{% endif %}{% if not i.is_published %} unpublished{% endif %}">
                          <span class="glyphicon glyphicon-{% if ui.checked %}check{% else %}unchecked{% endif %}"></span>
                          <span class="pull-right">
                              {{ui.id}}
                          </span>
                          {{i|u}}
                      </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
</div>



{% endblock %}
