{% extends 'lms/base.html' %}
{% load i18n %}
{% load humanize %}
{% load hackita %}

{% block title %}{% trans "Trails" %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h2>
                {% trans "Trails" %}
            </h2>

        <ul class="list-group">
                {% for o in object_list %}
                  <li class="list-group-item">
                        {{o|u}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
