{% extends 'lms/base.html' %}
{% load i18n %}
{% load humanize %}
{% load hackita %}
{% load static %}

{% block title %}{{object}}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
              <li><a href="{% url "trails" %}">{% trans "Trails" %}</a></li>
            </ol>
            {% if user.is_staff %}
                <a href="{% url 'trail_edit' object.slug %}" class="pull-right btn btn-success">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            {% endif %}
            <h2>
                {{object}}
            </h2>
            <div class="panel panel-default">

                {% if object.content_html %}
                  <div class="panel-body">
                    {{object.content_html|safe}}
                  </div>
                {% endif %}

                <ul class="list-group trail-items">
                    {% for i, ui in user_items %}
                      <li id="lms-item-{{i.id}}" data-id="{{i.id}}" class="list-group-item{%if ui.checked %} item-done{% endif %}{% if not i.is_published %} unpublished{% endif %}">
                            {% if user.is_staff %}
                              <span class="glyphicon glyphicon-move"></span>
                            {% endif %}
                          <span class="glyphicon glyphicon-{% if ui.checked %}check{% else %}unchecked{% endif %}"></span>
                          <span class="pull-right">
                                {% with i.users_solved as x %}
                                  {% if x %}
                                    <span class="glyphicon glyphicon-bookmark"></span> {{x}}
                                  {% endif %}
                                {% endwith %}
                          </span>
                          {{i|u}}
                      </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {% if user.is_staff %}
        <script src="{% static 'js/jquery-sortable.js' %}"></script>
        <script>
        $(function() {
          $(".trail-items").sortable({
              nested: false,
              handle: 'span.glyphicon-move',
              onDrop: function ($item, container, _super) {
                  $item.removeClass("dragged").removeAttr("style");
                  $("body").removeClass("dragging");
                    var l = $('.trail-items li').map(function() {
                        return $(this).data('id');
                    }).get();
                  console.log(l);
                $.post('', {
                    items : l,
                }, function(data) {
                    // :-)
                }).fail(function() {
                    alert('Server Error. Please refresh your browser and try again');
                });
              }
          });
        });
        </script>
    {% endif %}
{% endblock %}

