.unpublished {
    text-decoration: line-through;
}

.navbar {
    border-radius: 0;
}

.navbar-header {
    float: left;
}

.navbar-right {
    float: right!important;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav>li {
    float: left;
}

.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}