.unpublished {
    text-decoration: line-through;
}

.navbar {
    border-radius: 0;
}

.navbar-header {
    float: left;
}

.navbar-right {
    float: right!important;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav>li {
    float: left;
}

.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}


body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.trail-items li.placeholder {
  position: relative;
  /** More li styles **/
}
.trail-items li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}