{% extends 'users/base.html' %}
{% load i18n %}
{% load humanize %}

{% block content %}

    <div class="row">
        <div class="columns large-12">

        <p>
            <b>{% trans "You are invited to" %} {{object.event.title}}</b>
        </p>

        <ul class="no-bullet">
            <li>
                {% trans "at" %}: {{object.event.location}}
            </li>
            <li>
                {% trans "From" %} {{object.event.starts_at}}
            </li>
            <li>
                {% trans "To" %} {{object.event.ends_at}}
            </li>
        </ul>

        <div style="margin:6px; padding:6px; border: 1px solid #ccc;">
            {{object.event.description|urlize|linebreaksbr}}
        </div>


        <form method="post">
            {% csrf_token %}
            <h4>
                {% trans "Will you attend the event?" %}
            </h4>
            {% if 1 or object.status == object.statuses.APPROVED or object.status == object.statuses.DECLINED or object.status == object.statuses.MAYBE %}
                <div class="panel">
                    {% trans "Your current answer" %}:<b>
                        {% if object.status == object.statuses.APPROVED %}{% trans "Yes" %}{% endif %}
                        {% if object.status == object.statuses.MAYBE %}{% trans "Maybe" %}{% endif %}
                        {% if object.status == object.statuses.DECLINED %}{% trans "No" %}{% endif %}
                    </b>
                    {% if object.note %}
                      <br/>
                      {% trans "Note" %}:<br/>
                      {{object.note|linebreaksbr}}
                    {% endif %}
               </div>
            {% endif %}

            <div class="row">
                <div class="columns large-2 text-left">
                    <label for="id_note">{% trans "Note" %}</label>
                </div>
                <div class="columns large-4">
                    <textarea style="height:100px;" id="id_note" name="note">{{object.note|default:''}}</textarea>
                    <button name="status" value="{{object.statuses.APPROVED}}">{% trans "Yes" %}</button>
                    <button name="status" value="{{object.statuses.MAYBE}}">{% trans "Maybe" %}</button>
                    <button name="status" value="{{object.statuses.DECLINED}}">{% trans "No" %}</button>
                </div>
                <div class="columns large-6">
                </div>
            </div>

        </form>

    </div>
</div>

{% endblock %}
