{% extends 'users/base.html' %}
{% load i18n %}
{% load humanize %}

{% block content %}

    <div class="row">
        <div class="columns large-4">

            <ul class="no-bullet">
                <li>
                    {% trans "to" context "invitation" %}: {{object.user}} ({{object.user.email}})
                </li>
                <li>
                    <b>{% trans "You are invited to" %} {{object.event.title}}</b>
                </li>

                <li>
                    {% trans "at" %} {{object.event.location}}
                </li>
                <li>
                    {% trans "From" %}: {{object.event.starts_at|date:"d/n/Y H:i"}}
                </li>
                <li>
                    {% trans "To" %}: {{object.event.ends_at|date:"d/n/Y H:i"}}
                </li>

            </ul>

            <form method="post">
                {% csrf_token %}
                <h4>
                    {% trans "Will you attend the event?" %}
                </h4>

                {% if object.status == object.statuses.APPROVED or object.status == object.statuses.DECLINED or object.status == object.statuses.MAYBE %}
                    <div class="panel">
                        {% trans "Your current answer" %}:<b>
                            {% if object.status == object.statuses.APPROVED %}{% trans "Yes" %}{% endif %}
                            {% if object.status == object.statuses.MAYBE %}{% trans "Maybe" %}{% endif %}
                            {% if object.status == object.statuses.DECLINED %}{% trans "No" %}{% endif %}
                        </b>
                        {% if object.note %}
                          <br/>
                          {% trans "Note" %}:<br/>
                          {{object.note|linebreaksbr}}
                        {% endif %}
                   </div>
                {% endif %}

                {% if object.registration_allowed %}
                  {% if object.event.registration_ends_at %}
                    <p>
                        {% trans "Registartion ends at" %}:
                        {{object.event.registration_ends_at|date:"d/n/Y H:i"}}
                    </p>
                {% endif %}
                  <div class="row">
                      <div class="columns large-2 text-left">
                          <label for="id_note">{% trans "Note" %}</label>
                      </div>
                      <div class="columns large-10">
                          <textarea style="height:100px;" id="id_note" name="note">{{object.note|default:''}}</textarea>
                          <button name="status" value="{{object.statuses.APPROVED}}">{% trans "Yes" %}</button>
                          <button name="status" value="{{object.statuses.MAYBE}}">{% trans "Maybe" %}</button>
                          <button name="status" value="{{object.statuses.DECLINED}}">{% trans "No" %}</button>
                      </div>
                  </div>

                {% else %}
                    <div class="alert-box">
                        {% trans "Registration already closed." %}
                    </div>
                {% endif %}

            </form>

        </div>
        <div class="columns large-8">
            <div class="panel">
                {{object.event.description|urlize|linebreaksbr}}
            </div>
        </div>
    </div>
</div>

{% endblock %}
